<!--<h2 mat-dialog-title>Page d'inscription</h2>
<div mat-dialog-content [formGroup]="form">

    <div mat-form-field>
        <input matInput
               placeholder="Course Description"
               formControlName="description">
    </div>

</div>

<div mat-dialog-actions>
    <button class="waves-effect waves-light btn" (click)="back()">Close</button>
    <button class="waves-effect waves-light btn" (click)="save()">Register</button>
</div>-->


<form *ngIf="user" (ngSubmit)="onSubmit()" #registerForm="ngForm">
<!--    <div class='row'>-->
        <div class="col s12 m8 offset-m5">
            <div class="card hoverable">
                <div class="card-content center">
                    <div mat-dialog-content [formGroup]="form">
                    <span class="card-title">Page d'inscription</span>
                </div>
                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" class="form-control" id="name"
                               required
                               pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                               [(ngModel)]="user.username" name="name"
                                #name="ngModel">
                        <div [hidden]="name.valid || name.pristine"
                             class="card-panel red accent-1">
                             Votre Username est requis (1-25).
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="text" class="form-control" id="firstname"
                               required
                               pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                               [(ngModel)]="user.firstname" name="firstname"
                                #firstname="ngModel">
                        <div [hidden]="firstname.valid || firstname.pristine"
                             class="card-panel red accent-1">
                            Votre Firstname est requis (1-25).
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" class="form-control" id="lastname"
                               required
                               pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                               [(ngModel)]="user.lastname" name="lastname"
                                #lastname="ngModel">
                        <div [hidden]="lastname.valid || lastname.pristine"
                             class="card-panel red accent-1">
                            Votre Lastname est requis (1-25).
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="borndate">Born Date</label>
                        <input type="date" max="2024-10-01" class="form-control" id="borndate"
                               required
                               [(ngModel)]="user.borndatetime" name="borndate"
                                #borndate="ngModel">
                        <div [hidden]="borndate.valid || borndate.pristine"
                             class="card-panel red accent-1">
                            Votre date de naissance est requise.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"  id="password"
                               required

                               [(ngModel)]="user.password" name="password"
                                #password="ngModel">
                        <div [hidden]="password.valid || password.pristine"
                             class="card-panel red accent-1">
                            Le mot de passe doit contenir :
                            - de 1 a 25 caracteres une majuscule,
                            - une minuscule,
                            - un caractere special
                            - un chiffre.
                        </div>
                    </div>
                    </div>

<!--                Submit button-->
                <div class="divider"></div>
<!--                <div class="section center">-->
                    <div mat-dialog-actions>
                    <button type="submit"
                            class="waves-effect waves-light btn"
                            [disabled]="!registerForm.form.valid">
                        Valider</button>
                    <a class="space"></a>
                    <a class="waves-effect waves-light btn" (click)="back()">Retour</a>

                    </div>
<!--                </div>-->

<!--                    <button class="waves-effect waves-light btn" (click)="save()">Register</button>-->
<!--                    <a (click)="register(user)" class="waves-effect waves-light btn">Valider</a>-->
            </div>
        </div>
<!--    </div>-->
</form>
