<div class="container">
    <div class="row">
        <app-search-posts-by-user></app-search-posts-by-user>
        <div *ngFor="let post of postList" class="col s12">
            <div class="divider"></div>
            <div class="section">
                <h6><strong>{{ post.title }}</strong></h6>
                <p> {{ post.content }}</p>
                <p class="right"> {{ post.createdOn }}</p>
                <p class="left"> {{ post.username }} </p>
            </div>
        </div>
    </div>
</div>
<button (click)="addPostDialog()" class="btn waves-effect waves-light" type="submit"
   style="position: fixed; bottom: 25px; right: 25px"
>
    New Post
    <i class="material-icons right"></i> <!--add "send" dans la balise si l'on veut afficher l'icone-->
</button>